.logo {
  width: 550px;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav{
  background: aqua;
  display: flex;
  padding:0 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
